.theme-toggle-button {
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  border: 1px solid var(--primary-color);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
}

.theme-toggle-button:hover {
  opacity: 0.9;
}
